@use "../../token.scss" as *;

.message {
    padding: 8px;
    font-size: 8px;
    font-weight: 400;
    text-align: start;
    max-width: 128px;

    &--received {
        border-radius: 10px 10px 10px 4px;
        background: var(--purple-50);
        color: var(--purple-600);
        align-self: flex-start;
    }

    &--sent {
        border-radius: 10px 10px 4px 10px;
        background: var(--white);
        color: var(--gray-500);
        align-self: flex-end;
    }
}
