@use "../../token.scss" as *;

.price-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    min-width: 151px;
    border-radius: 10px 10px 10px 4px;
    padding: 10px 10px 10px 8px;
    color: var(--white);
    background: var(--gradient);
    align-self: self-start;

    &__offer {
        flex: 1;
        font-size: 8px;
        font-weight: 400;
    }

    &__price {
        font-size: 12px;
        font-weight: bold;
    }

    &__icon {
        height: 12px;
        width: 12px;
        flex-shrink: 0;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid var(--pink-400);
    }
}
